<div class="row">
    <div class="span6 offset3">
        <%= form_for(:session, :url => sessions_path, :html => { :class => 'form-horizontal' }) do |f| %>
            <fieldset>
                <legend>Sign in:</legend>
                <div class="control-group">
                    <%= f.label :email, :class => 'control-label' %>
                    <div class="controls">
                        <%= f.text_field :email, :class => 'text_field' %>
                    </div>
                </div>
                <div class="control-group">
                    <%= f.label :password, :class => 'control-label' %>
                    <div class="controls">
                        <%= f.password_field :password, :class => 'text_field' %>
                    </div>
                </div>
                <div class="form-actions">
                    <%= f.submit "Sign in", :class => "btn btn-primary" %>
                    or
                    <%= link_to "Sign up now!", signup_path, :class => "btn btn-success" %>
                </div>
            </fieldset>
        <% end %>
    </div>
</div>
