<h1>
    <%= gravatar_for @user %>
    <%= @user.name %>
</h1>

<% if signed_in? %>
    <h3>Books: <%= @user.books.count %></h3>

    <table class="books" summary="User books: #{@user.books.count}">
        <% unless @user.books.empty? %>
            <%= render 'books/index' %>
        <% end %>
    </table>
    <br />
    <%= will_paginate @books %>

<% end %>
