<h1 class="user_gravatar">
    <%= gravatar_for @user %>
    <%= @user.name %>
</h1>

<% if signed_in? %>
    <div class="row">
        <div class="span2">
            <p>Finished:
            <div class="progress progress-success">
                <div class="bar" style="width: <%= @books_finished %>%;"></div>
            </div>
            </p>
            <p>Reading:
            <div class="progress progress-info">
                <div class="bar" style="width: <%= @books_reading %>%;"></div>
            </div>
            </p>
            <p>On Hold:
            <div class="progress progress-warning">
                <div class="bar" style="width: <%= @books_onhold %>%;"></div>
            </div>
            </p>
            <p>Queued:
            <div class="progress progress-danger">
                <div class="bar" style="width: <%= @books_queued %>%;"></div>
            </div>
            </p>
            <h4>Pages read: <span class="badge badge-inverse"><%= @total_pages %></span></h4>
            <h4>Total: <%= @books_total %></h4>
        </div>

        <div class="span10">
            <div class="row">
                <div class="span4">
                    <p class="pull-left"><%= link_to 'New Book', new_book_path, :class => 'btn btn-primary' %></p>
                </div>
                <div class="span6">
                    <p class="pull-right">Show:
                        <a class="badge" href="#">All</a>
                        <a class="badge badge-success" href="#">Finished</a>
                        <a class="badge badge-info" href="#">Reading</a>
                        <a class="badge badge-warning" href="#">On Hold</a>
                        <a class="badge badge-error" href="#">Queued</a>
                    </p>
                </div>
            </div>
            <% unless @user.books.empty? %>
                <%= render 'books/index' %>
            <% end %>

            <%= will_paginate @books, :class => "pagination pagination-centered" %>
        </div>

    <% end %>
