<h1 class="user_gravatar">
    <%= gravatar_for @user %>
    <%= @user.name %>
</h1>

<% if signed_in? %>
    <div class="row">
        <div class="span2">
            <p>Finished:
            <div class="progress progress-success">
                <div class="bar" style="width: <%= @books_finished %>%;"></div>
            </div>
            </p>
            <p>Reading:
            <div class="progress progress-info">
                <div class="bar" style="width: <%= @books_reading %>%;"></div>
            </div>
            </p>
            <p>On Hold:
            <div class="progress progress-warning">
                <div class="bar" style="width: <%= @books_onhold %>%;"></div>
            </div>
            </p>
            <p>Queued:
            <div class="progress progress-danger">
                <div class="bar" style="width: <%= @books_queued %>%;"></div>
            </div>
            </p>
            <h4>Pages read: <span class="badge badge-inverse"><%= @total_pages %></span></h4>
            <h4>Total: <%= @books_total %></h4>
        </div>

        <div class="span10">
            <div class="row">
                <div class="span2">
                    <p class="pull-left"><%= link_to 'New Book', new_book_path, :class => 'btn btn-primary' %></p>
                </div>
                <div class="span6 offset1">
                    <%= form_tag user_path(current_user), :method => "get", :id => "status_submit", :html => { :class => "well form-inline" } do %>
                        <% @all_status.each do |status| %>
                            <%= check_box_tag "status[#{status}]", true, params[:status].key?("#{status}"), :html => { :class => "checkbox inline" } %>
                            <%= label_tag status, nil, :class => 'checkbox inline' %>
                        <% end %>
                        <%= submit_tag "Refresh", :class => "btn btn-primary" %>
                    <% end %>
                </div>
            </div>
            <% unless @user.books.empty? %>
                <%= render 'books/index' %>
            <% end %>

            <%= will_paginate @books, :class => "pagination pagination-centered" %>
        </div>

    <% end %>
