<h1>Listing books</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Pages</th>
    <th>Started On:</th>
    <th>Finished On:</th>
    <th>Status</th>
    <th></th>
    <th></th>
  </tr>

<% @books.each do |book| %>
  <tr>
    <td><%= book.title %></td>
    <td><%= book.author %></td>
    <td><%= book.pages %></td>
    <td><%= (book.started_at.blank? ? '' : book.started_at.strftime('%m/%d/%Y')) %></td>
    <td><%= (book.finished_at.blank? ? '' : book.finished_at.strftime('%m/%d/%Y')) %></td>
    <td><%= book.status %></td>
    <td><%= link_to 'Edit', edit_book_path(book), :class => "btn default" %></td>
    <td><%= link_to 'Delete', book, :class => "btn danger", confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Book', new_book_path, :class => "btn primary" %>
