<p id="notice"><%= notice %></p>

<p>
  <b>Title</b>
  <%= @book.title %>
</p>

<p>
  <b>Author</b>
  <%= @book.author %>
</p>

<p>
  <b>Pages</b>
  <%= @book.pages %>
</p>

<div class="form-actions">
  <%= link_to 'Back', books_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_book_path(@book), :class => 'btn' %>
  <%= link_to 'Delete', book_path(@book), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
